@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Neucha;
    src: url(../fonts/Neucha-Regular.ttf);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear1 {
    0% {
        
        transform: translateY(-100px);
        width: 30%;

        opacity: 0;
    }

    70%{
        transform: translateY(0);
        opacity: 0.7;
        width: 100%;
    }
  
    100% {
       
        transform: translateY(0);
        width: 100%;
        opacity: 1;
    }
}

@keyframes appear2 {
    0% {
        
        transform: translateY(-100px);
       

        opacity: 0;
    }

    70%{
        transform: translateY(0);
        opacity: 0.7;
        width: 100%;
    }
  
    100% {
       
        transform: translateY(0);
        
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        box-shadow: unset;
      
        
    }
    20% {
        
        filter: brightness(110%);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.5);
      
    }
    40% {
      
        filter: brightness(90%);
       box-shadow: 0px 0px 20px 5px rgba(0, 255, 255,0.2);
    }
    60% {
   
        filter: brightness(110%);
        box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.5);
    }
    80% {
      
        filter: brightness(90%);
        box-shadow: 0px 0px 20px 5px rgba(0, 255, 255,0.2);
    
    }
    100% {
      
        filter: brightness(100%);
        box-shadow: 0px 0px 20px 5px rgba(0, 255, 255,0.1);
    
    }
} 

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 100%;
}

.background .background-item{
    width: 100%;
    height: 100%;
    display: none;
    animation: appear ease-in-out 4s;
    position: absolute;
    top: 0;
    left: 0;
}

.background-itemi{
    width: 100%;
    height: 100%;
}

.background-item.active {
    display: block;
}

.list {
    position: absolute;
    z-index: 2;
    margin-top: 0px;
    display: flex;
    padding: 310px 100px 0 100px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    /* perspective: 1000px; */
    animation: appear1 ease-in-out 1.4s;
    will-change: auto;
    will-change: scroll-position;
    will-change: contents;
    will-change: transform; 
    transition: ease-in-out 0.2s;
}






/* .list:hover .card-wrap img{
    animation: fly2 ease-in-out 15s 1s infinite; 
}
.list:hover .card-wrap span{
    animation: fly3 ease-in-out 15s 1s infinite;
} */

/* .list:hover .card-wrap img.style1{
    animation: fly2 ease-in-out 15s infinite;  
}
.list:hover .card-wrap span.style1{
    animation: fly3 ease-in-out 15s infinite;
}

.list:hover .card-wrap img.style2{
    animation: fly2 ease-in-out 15s 0.5s infinite;  
}
.list:hover .card-wrap span.style2{
    animation: fly3 ease-in-out 15s 0.5s infinite;
}

.list:hover .card-wrap img.style3{
    animation: fly2 ease-in-out 15s 0.2s infinite;  
}
.list:hover .card-wrap span.style3{
    animation: fly3 ease-in-out 15s 0.2s infinite;
}

.list:hover .card-wrap img.style4{
    animation: fly2 ease-in-out 15s 0.3s infinite;  
}
.list:hover .card-wrap span.style4{
    animation: fly3 ease-in-out 15s 0.3s infinite;
} */

.list .card-wrap img{
    animation: fly2 ease-in-out 15s 2.5s infinite; 
}
.list .card-wrap span{
    animation: fly3 ease-in-out 15s 2.5s infinite;
}


.list img.style1{
    animation: fly2 ease-in-out 15s 1.5s infinite;  
}
.list .card-wrap span.style1{
    animation: fly3 ease-in-out 15s 1.5s infinite;
}

.list img.style2{
    animation: fly2 ease-in-out 15s 2s infinite;  
}
.list .card-wrap span.style2{
    animation: fly3 ease-in-out 15s 2s infinite;
}

.list img.style3{
    animation: fly2 ease-in-out 15s 1.7s infinite;  
}
.list .card-wrap span.style3{
    animation: fly3 ease-in-out 15s 1.7s infinite;
}

.list img.style4{
    animation: fly2 ease-in-out 15s 1.8s infinite;  
}
.list .card-wrap span.style4{
    animation: fly3 ease-in-out 15s 1.8s infinite;
}





@keyframes fly {
    0% {
        transform: translateY(0px);
        letter-spacing: 0;
    }
    10% {
        transform: translateY(-10px);
        color: rgba(121, 156, 185, 0.3);
    }
    20% {
        transform: translateY(0px);
        color: rgba(185, 181, 121, 0.3);
    }
    30% {
        transform: translateY(-10px);
        color: rgba(185, 121, 121, 0.3);
    }
    40% {
        transform: translateY(0px);
        color: rgba(123, 185, 121, 0.3);
    }
    50% {
        transform: translateY(-10px);
        color: rgba(2, 26, 46, 0.3);
        letter-spacing: 20px;
    }
    60% {
        transform: translateY(0px);
        color: rgba(185, 121, 180, 0.3);
    }
    70% {
        transform: translateY(-10px);
        color: rgba(180, 189, 105, 0.3);
    }
    80% {
        transform: translateY(0px);
        color: rgba(121, 122, 185, 0.3);
    }
    90% {
        transform: translateY(-10px);
        color: rgba(121, 156, 185, 0.3);
    }
    100% {
        transform: translateY(0px);
        color: rgba(185, 121, 121, 0.3);
        letter-spacing: 0;
    }
}

@keyframes fly2 {
    0% {
        transform: translateY(0px);
        
    }
    10% {
        transform: translateY(-10px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.5);
        filter: brightness(120%);
    }
    20% {
        transform: translateY(0px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.1);
        filter: brightness(100%);
    }
    30% {
        transform: translateY(-10px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.5);
        filter: brightness(120%);
    }
    40% {
        transform: translateY(0px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.1);
        filter: brightness(100%);
    }
    50% {
        transform: translateY(-10px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.5);
        filter: brightness(120%);
        
    }
    60% {
        transform: translateY(0px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.1);
        filter: brightness(100%);
    }
    70% {
        transform: translateY(-10px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.5);
        filter: brightness(120%);
    }
    80% {
        transform: translateY(0px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.1);
        filter: brightness(100%);
    }
    90% {
        transform: translateY(-10px);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.5);
        filter: brightness(120%);
    }
    100% {
        transform: translateY(0px);
        filter: brightness(100%);
        
        
    }
}

@keyframes fly3 {
    0% {
        transform: translateY(0px);
        
    }
    10% {
        transform: translateY(-10px);
        
    }
    20% {
        transform: translateY(0px);
        
    }
    30% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
        
    }
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
        
        
    }
}


.card-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; 
}


.card-wrap img {
   
    transition: ease-in-out 0.3s;
}




/* .card-wrap:hover {
  animation: textt ease-in-out 7s infinite;
  will-change: auto;
  will-change: scroll-position;
  will-change: contents;
  will-change: transform; 
} */

/* @keyframes haha {
    0% {transform: translateX(0);}
    100% {transform: translateX(50px);}
}
.card-wrap:hover img {
     animation:  haha ease-in-out 3s infinite;
   transition: ease-in-out 0.3s;
} */



/* .flip-card-back:hover a{
    animation: glow ease-in-out 7s infinite;    
    will-change: auto;
will-change: scroll-position;
will-change: contents;
will-change: transform;        /* Example of <custom-ident> */

.card-wrap div img {
    height: 300px;
    width: 180px;
    cursor: pointer;
    border-radius: 9px;
}

.flip-card-back  {
    top: 0;
    left: 0;
    right: 0;
}



.flip-card-back img {
    width: 180px;
    height: 300px;
    border-radius: 9px;
}


/* .flip-card-front img:hover {
    animation: glow ease-in-out 7s infinite;
}

.flip-card-back img:hover {
    animation: glow ease-in-out 7s infinite;
  } */
  

.card-wrap.flip1 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip1 .flip-card-front,
.card-wrap.flip2 .flip-card-front,
.card-wrap.flip3 .flip-card-front,
.card-wrap.flip4 .flip-card-front,
.card-wrap.flip5 .flip-card-front {
    transform: translateX(50px);
}

.card-wrap.flip2 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip3 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip4 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip5 {
    transform: rotatey(-180deg) translateY(-40px);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 9px;
    transition: ease-in-out 0.3s;
  }

  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    border-radius: 9px;
  }

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    padding-bottom: 50px;
}

.card-link a{
    text-decoration: none;
    font-family: Neucha;
    font-size: 2rem;
    color: rgb(68, 182, 2);
    transition: ease-in-out 0.3s;
    width: 90%;
    border-radius: 9px;
}

.card-link span {
    color: rgb(66, 66, 66);
}

.card-link a:hover {
    letter-spacing: 2px;
}

.list-title {

    position: absolute;
    top: 40px;
    left: auto;
    right: auto;
    color: rgba(121, 156, 185, 0.3);
    transition: ease-in-out  0.2s;
    animation: fly ease-in-out 30s infinite;
    
}

.list-title span {
   
    font-size: 3rem;
    letter-spacing: 7px;
    font-family: Neucha;
    animation: appear1 ease-in-out 1s;
  

}

.card-content {
    text-decoration: none;
    font-family: Neucha;
    font-size: 2rem;
    color: rgb(43, 43, 43);
    transition: ease-in-out 0.3s;
    width: 90%;
}

/* .card-wrap:hover span  {
    letter-spacing: 2px;
} */