@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Neucha;
    src: url(../fonts/Neucha-Regular.ttf);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear1 {
    0% {
        opacity: 0;
        transform: translateY(30px);
        width: 30%;
    }

    60% {
        width: 90%;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        width: 90%;
    }
}

@keyframes glow {
    0% {
        box-shadow: unset;
        
    }
    20% {
        
        filter: brightness(110%);
        box-shadow: 0px 0px 20px 5px rgba(32, 114, 146, 0.5);
    }
    40% {
        
        filter: brightness(90%);
       box-shadow: 0px 0px 20px 5px rgba(0, 255, 255,0.2);
    }
    60% {
        
        filter: brightness(110%);
        box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.5);
    }
    80% {
        
        filter: brightness(90%);
        box-shadow: 0px 0px 20px 5px rgba(0, 255, 255,0.2);
    
    }
    100% {
        
        filter: brightness(100%);
        box-shadow: 0px 0px 20px 5px rgba(0, 255, 255,0.1);
    
    }
} 

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 100%;
}

.background .background-item{
    width: 100%;
    height: 100%;
    display: none;
    animation: appear ease-in-out 4s;
    position: absolute;
    top: 0;
    left: 0;
}

.background-itemi{
    width: 100%;
    height: 100%;
}

.background-item.active {
    display: block;
}

.list {
    position: absolute;
    z-index: 2;
    margin-top: 200px;
    display: flex;
    width: 90%;
    height: 300px;
    justify-content: space-evenly;
    /* perspective: 1000px; */
    animation: appear1 ease-in-out 1.4s;
    will-change: auto;
    will-change: scroll-position;
    will-change: contents;
    will-change: transform; 
}

.card-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* .card-wrap:hover {
  animation: textt ease-in-out 7s infinite;
  will-change: auto;
  will-change: scroll-position;
  will-change: contents;
  will-change: transform; 
} */

.card-wrap:hover img {
    animation:  glow ease-in-out 7s infinite;
}



/* .flip-card-back:hover a{
    animation: glow ease-in-out 7s infinite;    
    will-change: auto;
will-change: scroll-position;
will-change: contents;
will-change: transform;        /* Example of <custom-ident> */

.card-wrap div img {
    height: 300px;
    width: 180px;
    cursor: pointer;
    border-radius: 9px;
}

.flip-card-back  {
    top: 0;
    left: 0;
    right: 0;
}



.flip-card-back img {
    width: 180px;
    height: 300px;
    border-radius: 9px;
}


/* .flip-card-front img:hover {
    animation: glow ease-in-out 7s infinite;
}

.flip-card-back img:hover {
    animation: glow ease-in-out 7s infinite;
  } */
  

.card-wrap.flip1 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip1 .flip-card-front,
.card-wrap.flip2 .flip-card-front,
.card-wrap.flip3 .flip-card-front,
.card-wrap.flip4 .flip-card-front,
.card-wrap.flip5 .flip-card-front {
    transform: translateX(50px);
}

.card-wrap.flip2 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip3 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip4 {
    transform: rotatey(-180deg) translateY(-40px);
}

.card-wrap.flip5 {
    transform: rotatey(-180deg) translateY(-40px);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 9px;
  }

  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    border-radius: 9px;
  }

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.card-link a{
    text-decoration: none;
    font-family: Neucha;
    font-size: 2rem;
    color: rgb(43, 43, 43);
    transition: ease-in-out 0.3s;
    width: 90%;
    border-radius: 9px;
}

.card-link a:hover {
    letter-spacing: 2px;
}

.list-title {

    position: absolute;
    top: 40px;
    left: auto;
    right: auto;
}

.list-title span {
    color: rgba(121, 156, 185, 0.3);
    font-size: 3rem;
    letter-spacing: 7px;
    font-family: Neucha;
    animation: appear1 ease-in-out 1s;

}

.card-content {
    text-decoration: none;
    font-family: Neucha;
    font-size: 2rem;
    color: rgb(43, 43, 43);
    transition: ease-in-out 0.3s;
    width: 90%;
}

.card-wrap:hover span  {
    letter-spacing: 2px;
}